fastapi
uvicorn
pandas
numpy
python-multipart
httpx
thefuzz
python-levenshtein
thefuzz
python-levenshtein
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
email-validator
reportlab
python-docx
openpyxl
psycopg2-binary
celery
redis
prometheus-fastapi-instrumentator
python-json-logger
xlrd
gunicorn
